<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Blog website </title>
        {% endif %}
    </head>
      {% import 'macros.html' as macro%}
      ...
          <body>

              <h3> Popular Quotes</h3>
              <ul>
                  {{ macro.displayQuotesList(popular)}}
              </ul>

              <h3> Upcoming Quotes </h3>
              <ul>
                  {{ macro.displayQuotesList(upcoming)}}
              </ul>
              
              <h3>Now Showing</h3>
              <ul>
                  {{ macro.displayQuotesList(now_showing)}}
              </ul>
    </body>
</html>
